
#info {
    padding-right:16px;
    height: 100%;
    width:100%;
    background-color: rgb(231, 221, 205);
    font-size: 14px;
    border: 1px solid lightblue;
    text-align: center;
}
#container {
    height: 400px;
}
#display {
    height: 200px;
    width:100%;
    background-color: cornflowerblue;
}
